/***********************************************/
/*********** Main colors and styles ************/
/***********************************************/
:root {
    --white: #f9f9f9;
    --black: #36383f;
    --grey: #85888c;
    --orange: #fcb002;
    --light-grey: #e2e2e2;
}

/***********************************************/
/**************** Reset Styles *****************/
/***********************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/***********************************************/
/******************* Header ********************/
/***********************************************/
.header {
    background-color: var(--orange);
    box-shadow: 1px 1px 5px 0px var(--grey);
    position: sticky;
    top: 0;
    width: 100%;
}

/***********************************************/
/******************** Logo *********************/
/***********************************************/
.logo {
    display: inline-block;
    margin: 10px;
}

.logo img {
    width: 200px;
}

/***********************************************/
/****************** Nav menu *******************/
/***********************************************/
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
}

.menu a {
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover {
    background-color: var(--grey);
}

.nav {
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

/***********************************************/
/************** Hamburguer menu ****************/
/***********************************************/
.hamburguer-button {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamburguer-button-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamburguer-button-line::before,
.hamburguer-button-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.hamburguer-button-line::before {
    top: 5px;
}

.hamburguer-button-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/***********************************************/
/************** Toggle menu icon ***************/
/***********************************************/
.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamburguer-button .hamburguer-button-line {
    background: transparent;
}

.side-menu:checked ~ .hamburguer-button .hamburguer-button-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamburguer-button .hamburguer-button-line::after {
    transform: rotate(45deg);
    top: 0;
}

/***********************************************/
/*************** Responsiveness ****************/
/***********************************************/
@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--grey);
    }

    .hamburguer-button {
        display: none;
    }
}

/***********************************************/
/************ Landing home section *************/
/***********************************************/
main {
    max-width: 1200;
    margin: 1em;
}

.island-container {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    background-color: #36383f;
    padding: 20px;
}

.island-top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.island-selector-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
}

.car-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-cards-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/***********************************************/
/*********** Input in landing styles ***********/
/***********************************************/
.input-container input,
.input-container select {
    padding: 10px;
    height: 50px;
    min-width: 100px;
    max-width: 500px;
    height: 50px;
}

.input-container label {
    position: absolute;
    left: 10px;
    top: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #999;
}

.btn-continue {
    background-color: var(--orange);
    border: none;
    padding: 10px;
}


/***********************************************/
/***************** FAQ Styles ******************/
/***********************************************/
.question {
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid  var(--light-grey);
    width: 700px;
    max-width: 700px;
}

.question-text {
    padding: 10px;
    font-weight: 600;
}

.question-text:hover {
    background-color: var(--light-grey);
}

.answer {
    display: none;
    padding: 10px;
}

.answer.active {
    display: block;
}
